# Generic ignores for `Git_info`

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/

# Logs
*.log

# Build and distribution folders
build/
dist/

# Python
__pycache__/
*.pyc

# Database files
*.db
